*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    background-color: #c6c3c3;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-height: max-content;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    padding: 20px;
    width: 50%;
    max-width: 600px;
    border-radius: 5px;
}

.heading{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.3rem;
}

#logo-image{
    width: 40px;
    height: 40px;
}

h1{
    font-size: 2rem;
    color: rgb(217, 134, 19);
    text-shadow: 5px 5px 10px black;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
}

#user-input{
    width: 60%;
    padding: 0.2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px black;
}

#search-button{
    padding: 0.2rem;
    width: 20%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px black;

}

/* Styling the Stats Container */

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #299f5d;
    box-shadow: 1px 1px 8px black;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    flex-direction: column;
    background: conic-gradient(#299f5d var(--progress-degree, 0%), #283a2e 0%);
}

.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.stats-card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.card{
    background-color: #283a2e; 
    padding: 10px;
    border: 2px solid #299f5d;
    border-radius: 5px;
    box-shadow: 1px 1px 8px black;
    width: 270px;
    max-width: 300px;;
    
}

#cardValue{
    margin-top: 4px;
    padding-left:4px ;
}
